<a href="https://colab.research.google.com/github/upranetukana/Data-Science-Internship-Basics/blob/main/pandas_basics_py.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [13]:
import pandas as pd

data = {
    'Name': ['Abi', 'Ram', 'Sai', 'Dhoni', 'Sachin' , 'Rohith'],
    'Age': [25, 33, 21, 42, 48 ,35],
    'Score': [82, 80, 77, 77, 100, 98]
}
df = pd.DataFrame(data)
df.to_csv('sample_data.csv', index=False)

print("Sample CSV file created successfully!")

Sample CSV file created successfully!

In [14]:
# Read the sample CSV file
df = pd.read_csv('sample_data.csv')

# Print the first five rows of the dataset
print("First Five Rows:")
print(df.head())

# Display basic statistics of the dataset
print("\nBasic Statistics:")
print(df.describe())

First Five Rows:
     Name  Age  Score
0     Abi   25     82
1     Ram   33     80
2     Sai   21     77
3   Dhoni   42     77
4  Sachin   48    100

Basic Statistics:
             Age       Score
count   6.000000    6.000000
mean   34.000000   85.666667
std    10.119289   10.519823
min    21.000000   77.000000
25%    27.000000   77.750000
50%    34.000000   81.000000
75%    40.250000   94.000000
max    48.000000  100.000000