<a href="https://colab.research.google.com/github/upranetukana/Data-Science-Internship-Basics/blob/main/Welcome_To_Colab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
import pandas as pd

data = {
    'Name': ['Abi', 'Mohan', 'Surander', 'Dravid', 'Rohith'],
    'Age': [40, 36, 28, 31, 37],
    'Score': [95, 75, 87, 78, 99]
}
df = pd.DataFrame(data)
df.to_csv('sample_data.csv', index=False)

print("Sample CSV file created successfully!")

Sample CSV file created successfully!

In [7]:
df = pd.read_csv('sample_data.csv')

print("First Five Rows:")
print(df.head())

print("\nBasic Statistics:")
print(df.describe())

First Five Rows:
       Name  Age  Score
0       Abi   40     95
1     Mohan   36     75
2  Surander   28     87
3    Dravid   31     78
4    Rohith   37     99

Basic Statistics:
             Age      Score
count   5.000000   5.000000
mean   34.400000  86.800000
std     4.827007  10.401923
min    28.000000  75.000000
25%    31.000000  78.000000
50%    36.000000  87.000000
75%    37.000000  95.000000
max    40.000000  99.000000